@font-face {
    font-family: "bodyText";
    src: url(/public/fonts/pokemon-dp-pro.ttf);
}

body {
    font-family: "bodyText";
    min-height: screen;
    height: screen;
    width: 100%;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;

    min-width: 100%;
    min-height: 100%;
}

/* .title {

} */